import sys

sys.path.insert(0, '/opt/netbox-company/extensions')

ALLOWED_HOSTS = {{ (netbox.allowed_hosts + ['127.0.0.1', 'localhost']) | unique | list | to_json }}
CSRF_TRUSTED_ORIGINS = {{ netbox.csrf_trusted_origins | to_json }}

DATABASE = {
    'NAME': '{{ postgresql.database }}',
    'USER': '{{ postgresql.username }}',
    'PASSWORD': '{{ postgresql_password | replace("\\", "\\\\") | replace("'", "\\'") }}',
    'HOST': '127.0.0.1',
    'PORT': 5432,
    'CONN_MAX_AGE': 300,
}

REDIS = {
    'tasks': {
        'HOST': '127.0.0.1',
        'PORT': 6379,
        'PASSWORD': '{{ redis_password | replace("\\", "\\\\") | replace("'", "\\'") }}',
        'DATABASE': 0,
        'SSL': False,
    },
    'caching': {
        'HOST': '127.0.0.1',
        'PORT': 6379,
        'PASSWORD': '{{ redis_password | replace("\\", "\\\\") | replace("'", "\\'") }}',
        'DATABASE': 1,
        'SSL': False,
    },
}

SECRET_KEY = '{{ django_secret_key | replace("\\", "\\\\") | replace("'", "\\'") }}'
API_TOKEN_PEPPERS = {1: '{{ api_token_pepper_1 | replace("\\", "\\\\") | replace("'", "\\'") }}'}
TIME_ZONE = '{{ server.timezone }}'
MEDIA_ROOT = '/var/lib/netbox/media'
SCRIPTS_ROOT = '/var/lib/netbox/scripts'
LOGIN_REQUIRED = False
MAINTENANCE_MODE = False

PLUGINS = {{ (['netbox_subnet_map'] if features.subnet_map else []) | to_json }}
PLUGINS_CONFIG = {
    'netbox_subnet_map': {
        'host_grid_limit': 1024,
        'hosts_per_page': 128,
        'related_object_limit': 2000,
        'free_range_limit': 32,
    },
}

CUSTOM_VALIDATORS = {{ ({'ipam.prefix': ['netbox_company.validators.legacy_environment_policy.EnvironmentPrefixValidator'], 'ipam.ipaddress': ['netbox_company.validators.legacy_environment_policy.EnvironmentIPAddressValidator']} if features.environment_validators else {}) | to_json }}
